<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>绿色新闻网数据挖掘平台</title>
    <link rel="icon" href="favicon.ico" type="image/ico">


    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <!--标签插件-->
    <link rel="stylesheet" href="js/jquery-tags-input/jquery.tagsinput.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="/lefter.html :: lefterBar"></aside>


        <!--页面头部-->
        <header th:replace="/header.html :: headerBar"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>内容统计——查询统计</h4></div>
                            <div class="card-body">
                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                    <li class="active date"><a href="#date" id="date-tab" role="tab" data-toggle="tab">时间分布</a></li>
                                    <li class="category"><a href="#category" role="tab" id="category-tab" data-toggle="tab">类别分布</a></li>

                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="date">
                                        <div class="example-box">
                                            <label class="lyear-radio">
                                                <input type="radio" name="r1" value="year"><span>按年统计：</span>
                                                最近<select class="form-control1"  name="example-select" size="1">
                                                <option value="0">请选择</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                                年
                                            </label>
                                            <label class="lyear-radio m-t-10">
                                                <input type="radio" name="r1" value="month">
                                                <span>按月统计：</span>
                                                最近<select class="form-control1"  name="example-select" size="1">
                                                <option value="0">请选择</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                                个月
                                            </label>

                                            <label class="lyear-radio m-t-10">
                                                <input type="radio" name="r1" value="week">
                                                <span>按周统计：</span>
                                                最近<select class="form-control1" id="example-select" name="example-select" size="1">
                                                <option value="0">请选择</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                                周
                                            </label>
                                            <div class="row m-t-10">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <input id="textDate" class="form-control" type="text" placeholder="请输入关键词...">
                                                    <span class="input-group-btn">
                                                      <button class="btn btn-default  creatButton creatDateBar" type="button">统计</button>
                                                    </span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade" id="category">
                                        <div class="example-box">
                                            <label class="lyear-radio">
                                                <input type="radio" name="r1" value="year"><span>按年统计：</span>
                                                最近<select class="form-control1" id="themeYear-select" name="example-select" size="1">
                                                <option value="0">请选择</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                                年
                                            </label>
                                            <label class="lyear-radio m-t-10">
                                                <input type="radio" name="r1" value="month">
                                                <span>按月统计：</span>
                                                最近<select class="form-control1" id="themeMonth-select" name="example-select" size="1">
                                                <option value="0">请选择</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                                个月
                                            </label>

                                            <label class="lyear-radio m-t-10">
                                                <input type="radio" name="r1" value="week">
                                                <span>按周统计：</span>
                                                最近<select class="form-control1" id="themeWeek-select" name="example-select" size="1">
                                                <option value="0">请选择</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                                周
                                            </label>
                                            <div class="row m-t-10">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <input id="textCategory" class="form-control" type="text" placeholder="请输入关键词...">
                                                    <span class="input-group-btn">
                                                      <button class="btn btn-default  creatButton creatCategoryBar" type="button">统计</button>
                                                    </span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>




                    </div>

                    <div class="col-lg-6" id="chartDiv" style="display: none">
                        <div class="card">
                            <div class="card-header"><h4 id="chartHeader">统计结果</h4></div>
                            <div class="card-body " id="chartCard" >


                                <canvas id="chart-pie" width="200" height="200"></canvas>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    </main>
    <!--End 页面主要内容-->
</div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/Chart.js"></script>

<script type="text/javascript">

    $('.creatButton').on('click',function(){
        var type = "";
        var ymd = "";
        var num = "";

        var textDate="";
        var textCategory="";


        if($('#myTabs > .active').hasClass('date')){
            type = 'date'
        }
        if($('#myTabs > .active').hasClass('category')){
            type = 'category'
        }
        if($('#myTabContent > .active input[name="r1"]:checked').val() === 'year'){
            ymd ='year'
        }
        if($('#myTabContent > .active input[name="r1"]:checked').val() === 'month'){
            ymd ='month'
        }
        if($('#myTabContent > .active input[name="r1"]:checked').val() === 'week'){
            ymd ='week'
       }
        //
        // else {
        //     debugger
        //     alert("请选择统计条件！");
        //     return;
        // }
        num = $('#myTabContent > .active input[name="r1"]:checked').siblings('.form-control1').val();

        // if (num === '0'){
        //     debugger
        //     alert("请选择统计条件！");
        //     return;
        // }
        // //get theme
        // theme = $('#theme-select').val();
        // //get source
        // source = $('#source-select').val();
        textDate= $(" #textDate ").val();
        textCategory =$(" #textCategory ").val();
        debugger
        //judge
        // if (theme === '0' && source === '0'){
        //     alert("主题和来源不能同时为空！");
        //     return;
        // }
        if($(this).hasClass('creatDateBar')){
            document.getElementById("chartDiv").style.display="block";
            creatDateBar(type,ymd,num,textDate)
        }
        if($(this).hasClass('creatCategoryBar')){
            document.getElementById("chartDiv").style.display="block";
            creatCategoryBar(type,ymd,num,textCategory)
        }

        // listGenerate(ymd,num,theme,source);

    });

    $('#myTabContent input[name="r1"]').change(function(){
        $('#myTabContent select[name="example-select"]').each(function(i,k) {
            $(k).val(0);
        });
    });


    function creatCategoryBar() {
        debugger
        $('#chart-pie').remove();
        $('#chartCard').prepend("<canvas id='chart-pie' width='400' height='250'></canvas>");
        new Chart($("#chart-pie"), {

            type: 'bar',
            data: {
                labels:  ["绿色要闻", "教学科研", "校园动态", "党建思政"],
                datasets: [{

                    label: "发稿量",
                    backgroundColor: "rgba(51,202,185,0.5)",
                    borderColor: "rgba(0,0,0,0)",
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: [5, 15, 3, 2]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    }
    function creatDateBar(type,ymd,num,textDate){

        $.ajax({
            url:"/searchnewsdate",
            method:"post",
            data:{type:type,ymd:ymd,num:num,textDate:textDate},
            dataType:"json",
            success:function(map){
debugger
                barChart(map.ymd,map.num);
                var html2 = '';
                if(ymd=="year"){
                    html2="统计结果——近"+num+"年该关键词的分布";
                }else if(ymd=="month"){
                    html2="统计结果——近"+num+"月该关键词的分布";
                }else if(ymd=="week"){
                    html2="统计结果——近"+num+"周该关键词的分布";
                }
                $('#chartHeader').html(html2);
debugger
            },
            error:function(data){
                alert("wrong");
            }
        });
    }
    function barChart(lab,data) {
        debugger
        $('#chart-pie').remove();
        $('#chartCard').prepend("<canvas id='chart-pie' width='400' height='250'></canvas>");
        new Chart($("#chart-pie"), {
            type: 'bar',
            data: {
                labels: lab,
                datasets: [{

                    label: "时间分布",
                    backgroundColor: "rgba(51,202,185,0.5)",
                    borderColor: "rgba(0,0,0,0)",
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    }
    // function listGenerate(ymd,num,theme,source){
    //     debugger
    //     $.ajax({
    //         url:"/categorycount",
    //         method:"post",
    //         data:{ymd:ymd,num:num,theme:theme,source:source},
    //         dataType:"json",
    //         success:function(jing){
    //             debugger
    //             var html = "";
    //             for(var i=1;i<=jing.length;i++){
    //                 html +='<tr>'
    //                     + '<td>'+i+'</td>'
    //                     +'<td>'+jing[i-1].name+'</td>'
    //                     +'<td>'+jing[i-1].Source+'</td>'
    //                     +'<td>'+jing[i-1].Keyword+'</td>'
    //                     +'<td>'+jing[i-1].viewCount+'</td>'
    //                     +'<td>'+jing[i-1].publishdate+'</td>'
    //                     +'</tr>';
    //             }
    //             $('#insertList').html(html);
    //
    //         },
    //         error:function(data){
    //             alert(data);
    //         }
    //     });
    // }

</script>
</body>
</html>