<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>绿色新闻网数据挖掘平台</title>
    <link rel="icon" href="favicon.ico" type="image/ico">


    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
    <!--左侧导航-->
    <aside th:replace="/lefter.html :: lefterBar"></aside>


    <!--页面头部-->
    <header th:replace="/header.html :: headerBar"></header>

    <!--页面主要内容-->
    <main class="lyear-layout-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header"><h4>数量统计——发稿量统计</h4></div>
                        <div class="card-body">
                            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                <li class="active home"><a href="#home" id="home-tab" role="tab" data-toggle="tab">按时间统计总发稿量</a></li>
<!--                                <li class="theme"><a href="#theme" role="tab" id="theme-tab" data-toggle="tab">按主题统计总发稿量</a></li>-->
                                <li class="keyw"><a href="#keyw" role="tab" id="keyw-tab" data-toggle="tab">按关键词统计总发稿量</a></li>
                                <li class="scource"><a href="#scource" role="tab" id="scource-tab" data-toggle="tab">按来源统计总发稿量</a></li>

                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="home">
                                    <div class="example-box">
                                        <label class="lyear-radio">
                                            <input type="radio" name="r1" value="year"><span>按年统计：</span>
                                            最近<select class="form-control1"  name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                            年
                                        </label>
                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="month">
                                            <span>按月统计：</span>
                                            最近<select class="form-control1"  name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            月
                                        </label>

                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="week">
                                            <span>按周统计：</span>
                                            最近<select class="form-control1" id="example-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            周
                                        </label>
                                        <div id="myButton" style="text-align:center">
                                            <button  class="btn btn-primary btn-w-s creatButton creatBar">生成柱状图</button>
                                            <button  class="btn btn-info btn-w-s creatButton creatPie" >生成饼状图</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="theme">
                                    <div class="example-box">
                                        <label class="lyear-radio">
                                            <input type="radio" name="r1"><span>按年统计：</span>
                                            最近<select class="form-control1" id="themeYear-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="1">2</option>
                                            <option value="2">3</option>
                                            <option value="3">4</option>
                                        </select>
                                            年
                                        </label>
                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1">
                                            <span>按月统计：</span>
                                            最近<select class="form-control1" id="themeMonth-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="1">3</option>
                                            <option value="2">4</option>
                                            <option value="3">5</option>
                                            <option value="3">6</option>
                                        </select>
                                            月
                                        </label>

                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1">
                                            <span>按周统计：</span>
                                            最近<select class="form-control1" id="themeWeek-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="1">3</option>
                                            <option value="2">4</option>
                                            <option value="3">5</option>
                                            <option value="3">6</option>
                                        </select>
                                            周
                                        </label>
                                        <div style="text-align:center">
                                            <button class="btn btn-primary btn-w-s" type="button">统计</button>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="keyw">
                                    <div class="example-box">
                                        <label class="lyear-radio">
                                            <input type="radio" name="r1" value="year"><span>按年统计：</span>
                                            最近<select class="form-control1" id="keywYear-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                            年
                                        </label>
                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1"  value="month">
                                            <span>按月统计：</span>
                                            最近<select class="form-control1" id="keywMonth-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            月
                                        </label>

                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="week">
                                            <span>按周统计：</span>
                                            最近<select class="form-control1" id="keywWeek-select" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            周
                                        </label>
                                        <div style="text-align:center">
                                            <button class="btn btn-primary btn-w-s creatButton creatList" type="button">统计</button>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="scource">
                                    <div class="example-box">
                                        <label class="lyear-radio">
                                            <input type="radio" name="r1" value="year"><span>按年统计：</span>
                                            最近<select class="form-control1"  name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                            年
                                        </label>
                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="month">
                                            <span>按月统计：</span>
                                            最近<select class="form-control1"  name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            月
                                        </label>

                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="week">
                                            <span>按周统计：</span>
                                            最近<select class="form-control1"  name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            周
                                        </label>
                                        <div style="text-align:center">
                                            <button class="btn btn-primary btn-w-s creatButton creatList" type="button">统计</button>

                                        </div>
                                    </div>
                                </div>




                            </div>

                        </div>


                    </div>




                </div>

                <div class="col-lg-6" id="chartDiv" style="display: none">
                    <div class="card">
                        <div class="card-header"><h4 id="chartHeader">统计结果</h4></div>
                        <div class="card-body " id="chartCard" >


                            <canvas id="chart-pie" width="200" height="200"></canvas>


                        </div>
                    </div>
                </div>
                <div class="col-lg-12" id="listDiv" style="display: none">
                    <div class="card">
                        <div class="card-header"><h4 id="listHeader">统计结果</h4></div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>排名 </th>
                                        <th id="title">来源</th>
                                        <th>发稿量</th>
                                    </tr>
                                    </thead>
                                    <tbody id="sourcetbody">

                                    </tbody>
                                </table>

                            </div>
                            <!--                            <nav>-->
                            <!--                                <ul class="pager">-->
                            <!--                                    <li><a href="#"> <span aria-hidden="true" id="startpage" onclick="pageinit(startpage)">上一页</span></a></li>-->
                            <!--                                    <li><a href="#"><span aria-hidden="true" id="endpage" onclick="pageinit(endpage)">下一页</span></a></li>-->
                            <!--                                </ul>-->
                            <!--                            </nav>-->

                            <nav style="text-align: center">
                                <ul class="pagination">
                                    <li >
                                        <a href="#!">
                                            <span><i class="mdi mdi-chevron-left" id="startpage" onclick="pageGenerate(startpage)"></i></span>
                                        </a>
                                    </li>
                                    <!--                                    <li class="active"><a href="#">1</a></li>-->
                                    <!--                                    <li><a href="#!">2</a></li>-->
                                    <!--                                    <li><a href="#!">3</a></li>-->
                                    <!--                                    <li><a href="#!">4</a></li>-->
                                    <!--                                    <li><a href="#!">5</a></li>-->
                                    <li>
                                        <a href="#!">
                                            <span><i class="mdi mdi-chevron-right"  id="endpage" onclick="pageGenerate(endpage)"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

<!--                            <div class="btn-group pull-right">-->
<!--                                &lt;!&ndash;分页开始&ndash;&gt;-->
<!--                                <nav aria-label="Page navigation" style="text-align: center">-->
<!--                                    <ul class="pager">-->
<!--                                        <li>-->
<!--                                            <div-->
<!--                                                    aria-label="Previous" >-->
<!--                                                <span aria-hidden="true" id="" onclick="pageinit(startpage)">上一页</span>-->
<!--                                            </div>-->
<!--                                        </li>-->

<!--                                        <li>-->
<!--                                            <div-->
<!--                                                    aria-label="Next">-->
<!--                                                <span aria-hidden="true" id="" onclick="pageinit(endpage)">下一页</span>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </nav>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <!--End 页面主要内容-->
</div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/Chart.js"></script>



<!--图表插件-->

<script type="text/javascript">

    $('.creatButton').on('click',function(){
        var type = "";
        var ymd = "";
        var num = "";

        if($('#myTabs > .active').hasClass('home')){
            type = 'home'
        }
        if($('#myTabs > .active').hasClass('theme')){
            type = 'theme'
        }
        if($('#myTabs > .active').hasClass('keyw')){
            type = 'keyw'
        }
        if($('#myTabs > .active').hasClass('scource')){
            type = 'scource'
        }

        if($('#myTabContent > .active input[name="r1"]:checked').val() === 'year'){
            ymd ='year'
        }
        if($('#myTabContent > .active input[name="r1"]:checked').val() === 'month'){
            ymd ='month'
        }
        if($('#myTabContent > .active input[name="r1"]:checked').val() === 'week'){
            ymd ='week'
        }
        num = $('#myTabContent > .active input[name="r1"]:checked').siblings('.form-control1').val();
        if (num === '0'){
            alert("请选择统计条件！");
            return;
        }
        debugger
        if($(this).hasClass('creatPie')){
            document.getElementById("chartDiv").style.display="block";
            document.getElementById("listDiv").style.display="none";
            debugger
            pieChartGenerate(type,ymd,num)
        }
        if($(this).hasClass('creatBar')){
            document.getElementById("chartDiv").style.display="block";
            document.getElementById("listDiv").style.display="none";
            barChartGenerate(type,ymd,num)
        }
        if($(this).hasClass('creatList')){
            document.getElementById("chartDiv").style.display="none";
            document.getElementById("listDiv").style.display="block";
            pageInit(type,ymd,num)
        }



        // console.log($(this))
        //pieChartGenerate('总发稿数','week','3')
    });


    $('#myTabContent').on('change',"input[name='r1']",function(){
        $('#myTabContent  .active select[name="example-select"]').each(function(i,k) {
            $(k).val(0);
        });
    });

    // $('#myTabContent  .active input[name="r1"]').change(function(){
    //     $('#myTabContent  .active select[name="example-select"]').each(function(i,k) {
    //             $(k).val(0);
    //     });
    // });






    //初始化
    function pageInit(type,ymd,num){

        $.ajax({
            url:"/newsamountsource",
            method:"post",
            data:{type:type,ymd:ymd,num:num,page:1},
            dataType:"json",
            success:function(jing){
                var html1 = '';
                // html +='<tr>'+ '<td>总计</td>'+'<td>'+jing.allsourceamount+'</td>'+'<td>'+jing.allnewsamount+'</td>'+'</tr>';
                for(var i=0;i<jing.sourceList.length;i++){
                    html1 +='<tr>'+ '<td>'+jing.sourceList[i].rank+'</td>'+'<td>'+jing.sourceList[i].source+'</td>'+'<td>'+jing.sourceList[i].amount+'</td>'+'</tr>';
                }
                var html2 = '';
                var html3 = '';
                if(type=="scource"){
                    html3 = "来源";
                    if(ymd=="year"){
                        html2="统计结果——近"+num+"年按来源统计发稿量";
                    }else if(ymd=="month"){
                        html2="统计结果——近"+num+"月按来源统计发稿量";
                    }else if(ymd=="week"){
                        html2="统计结果——近"+num+"周按来源统计发稿量";
                    }
                }else if(type=="keyw"){
                    html3 = "关键词";
                    if(ymd=="year"){
                        html2="统计结果——近"+num+"年按关键词统计发稿量";
                    }else if(ymd=="month"){
                        html2="统计结果——近"+num+"月按关键词统计发稿量";
                    }else if(ymd=="week"){
                        html2="统计结果——近"+num+"周按关键词统计发稿量";
                    }
                }

                $('#title').html(html3);

                $('#listHeader').html(html2);

                $('#sourcetbody').html(html1);




                //自定义属性
                $('#startpage').attr("type",type);
                $('#startpage').attr("ymd",ymd);
                $('#startpage').attr("num",num);
                $('#startpage').attr("page",1);


                $('#endpage').attr("type",type);
                $('#endpage').attr("ymd",ymd);
                $('#endpage').attr("num",num);
                $('#endpage').attr("page",1);
                $('#endpage').attr("allpage",jing.allpage);




            },
            error:function(data){
                alert("wrong");
            }
        });
    }
    //分页
    function pageGenerate(data){
        var type;
        var ymd;
        var num;
        var page;
        if(data==startpage){
            type = $('#startpage').attr("type");
            ymd = $('#startpage').attr("ymd");
            num = $('#startpage').attr("num");
            page = $('#startpage').attr("page");
            // intpage =parseInt(page);
            if(parseInt(page)>1){
                page = parseInt(page) -1;
            }

        }else if(data==endpage){
            type = $('#endpage').attr("type");
            ymd = $('#endpage').attr("ymd");
            num = $('#endpage').attr("num");
            page = $('#endpage').attr("page");
            // intpage =parseInt(page);
            allpage = $('#endpage').attr("allpage");
            if(parseInt(page)<allpage){
                page = parseInt(page) +1;
            }


        }
        debugger
        $.ajax({
            url:"/newsamountsource",
            method:"post",
            data:{type:type,ymd:ymd,num:num,page:page},
            dataType:"json",
            success:function(jing){
                debugger
                var html = '';
                // html +='<tr>'+ '<td>总计</td>'+'<td>'+jing.allsourceamount+'</td>'+'<td>'+jing.allnewsamount+'</td>'+'</tr>';
                for(var i=0;i<jing.sourceList.length;i++){
                    html +='<tr>'+ '<td>'+jing.sourceList[i].rank+'</td>'+'<td>'+jing.sourceList[i].source+'</td>'+'<td>'+jing.sourceList[i].amount+'</td>'+'</tr>';
                }

                $('#sourcetbody').html(html);

                $('#startpage').attr("type",type);
                $('#startpage').attr("ymd",ymd);
                $('#startpage').attr("num",num);
                $('#startpage').attr("page",page);


                $('#endpage').attr("type",type);
                $('#endpage').attr("ymd",ymd);
                $('#endpage').attr("num",num);
                $('#endpage').attr("page",page);
                $('#endpage').attr("allpage",jing.allpage);


            },
            error:function(data){
                alert("wrong");
            }
        });
    }



    //piechart
    function pieChartGenerate(type,ymd,num){
        // //获取上边的四个分类
        // var type = "总发稿数";
        // //获取是年还是月还是日
        // var ymd = true;
        // //数
        // var num = "6";
        //1.获取到页面上的数据{type:type,ymd:ymd,num:num}，给后台指定的url:"/newsamount"发送请求
        debugger
        $.ajax({
            url:"/newsamount",
            method:"post",
            data:{type:type,ymd:ymd,num:num},
            dataType:"json",
            //data就是controller return的map
            //data是从后台返回的结果

            success:function(map){
                pieChart(map.ymd,map.num);
                var html2 = '';
                if(ymd=="year"){
                    html2="统计结果——近"+num+"年每年发稿量";
                }else if(ymd=="month"){
                    html2="统计结果——近"+num+"月每月发稿量";
                }else if(ymd=="week"){
                    html2="统计结果——近"+num+"周每周发稿量";
                }
                $('#chartHeader').html(html2);

            },
            error:function(data){
                alert("wrong");
            }
        });
    }
    function pieChart(lab,data) {

        // let arr = ["a","s"];
        // arr.join("=")  // "a"="s"
        $('#chart-pie').remove();
        $('#chartCard').prepend("<canvas id='chart-pie' width='400' height='400'></canvas>");
        new Chart($("#chart-pie"), {
            type: 'pie',
            data: {
                labels: lab,
                datasets: [{
                    data: data,
                    backgroundColor: ['rgba(211,255,214,1)', 'rgba(186, 242, 255, 1)', 'rgba(191, 208, 255, 1)','rgba(213, 192, 255, 1)','rgba(252, 255, 182, 1)','rgba(255, 188, 198, 1)']
                }]
            },
            options: {
                responsive: false
            }
        });
    }

    function barChartGenerate(type,ymd,num){
debugger
        $.ajax({
            url:"/newsamount",
            method:"post",
            data:{type:type,ymd:ymd,num:num},
            dataType:"json",
            success:function(map){
debugger
                barChart(map.ymd,map.num,map.title);
                var html2 = '';
                if(ymd=="year"){
                    html2="统计结果——近"+num+"年每年发稿量";
                }else if(ymd=="month"){
                    html2="统计结果——近"+num+"个月每个月发稿量";
                }else if(ymd=="week"){
                    html2="统计结果——近"+num+"周每周发稿量";
                }
                $('#chartHeader').html(html2);

            },
            error:function(data){
                alert("wrong");
            }
        });
    }
    function barChart(lab,data) {
        $('#chart-pie').remove();
        $('#chartCard').prepend("<canvas id='chart-pie' width='400' height='250'></canvas>");
        new Chart($("#chart-pie"), {
            type: 'bar',
            data: {
                labels: lab,
                datasets: [{

                    label: "发稿量",
                    backgroundColor: "rgba(51,202,185,0.5)",
                    borderColor: "rgba(0,0,0,0)",
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    }

</script>
</body>
</html>