<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>新闻发布审批平台</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="author" content="">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/materialdesignicons.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>

<header class="lyear-layout-header" th:fragment="headerBar"  >

  <nav class="navbar navbar-default">
    <div class="topbar" style="text-align:right">
      <ul class="topbar-right">
        <li class="dropdown dropdown-profile">
          <a href="javascript:void(0)" data-toggle="dropdown">
            <img class="img-avatar img-avatar-48 m-r-10" src="images/users/avatar.jpg" alt="管理员" />
            <span>管理员 <span class="caret"></span></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li> <a href="index/pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
            <li> <a href="index/pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
            <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
            <li class="divider"></li>
            <li> <a href="pages_login.html"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</header>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>