<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.news.dao.NewsContributionMapper">
    <insert id="insert" parameterType="com.bjfu.news.entity.NewsContribution" keyProperty="id"
            useGeneratedKeys="true">
    insert into news_contribution (TITLE, STATUS,DOC_URL, DOC_AUTHOR, PIC_URL,PIC_AUTHOR,NOTE,SUBMIT_TIME,USER_ID,DISABLED)
    values (#{title,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{docUrl,jdbcType=VARCHAR}, #{docAuthor,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR},
      #{picAuthor,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=BIGINT}, #{disabled,jdbcType=BIT})
  </insert>
    <select id="selectById" resultType="com.bjfu.news.entity.NewsContribution">
         select * from news_contribution where id = #{id}
  </select>

    <select id="selectByIds" resultType="com.bjfu.news.entity.NewsContribution">
        select * from news_contribution where id in
        <foreach item="id" index="index" collection="ids">
            #{id}
        </foreach>
    </select>

    <select id="pageByName" parameterType="com.bjfu.news.req.ContributionReq"
            resultType="com.bjfu.news.entity.NewsContribution">
        select * from news_contribution where disabled = false and createUserId=#{userId}
        <if test="name!=null">
            and title like #{name}
        </if>
        litmit #{start},#{size}
    </select>

    <select id="listByName" resultType="com.bjfu.news.entity.NewsContribution">
        select * from news_contribution where disabled = false and title like #{name}
    </select>

    <select id="getCount" parameterType="com.bjfu.news.req.ContributionReq"
            resultType="Integer">
        select count(*) from news_contribution where disabled = false and createUserId=#{userId}
        <if test="name!=null">
            and title like #{name}
        </if>
    </select>

    <update id="delete" parameterType="com.bjfu.news.req.IdsParam">
        update news_contribution set disabled = true where id = #{id}
    </update>

    <update id="updateStatus" parameterType="com.bjfu.news.entity.NewsContribution">
        update news_contribution set
        status=#{status}
        where ID=#{id}
    </update>
</mapper>