<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.news.dao.NewsWriterContributionMapper">
  <resultMap id="BaseResultMap" type="com.bjfu.news.entity.NewsWriterContribution">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="FILE_URL" jdbcType="VARCHAR" property="fileUrl" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId" />
    <result column="DISABLED" jdbcType="BIT" property="disabled" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.bjfu.news.entity.NewsWriterContribution">
    insert into news_writer_contribution (ID, TITLE, CATEGROY_ID, 
      FILE_URL, STATUS, CREATE_USER_ID, 
      DISABLED, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{categroyId,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{disabled,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectById" resultMap="BaseResultMap" parameterType="com.bjfu.news.entity.NewsWriterContribution">
    select *
    from news_writer_contribution
    where id = (#{id,jdbcType=BIGINT})
  </select>
</mapper>