<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.news.dao.NewsApproveContributionMapper">
    <insert id="insert" parameterType="com.bjfu.news.entity.NewsApproveContribution"  keyProperty="id"
            useGeneratedKeys="true">
    insert into news_approve_contribution (CONTRIBUTION_ID, USER_ID, DISABLED)
    values (#{contributionId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{disabled,jdbcType=BIT})
  </insert>
    <select id="selectAll" resultType="com.bjfu.news.entity.NewsApproveContribution">
    select * from news_approve_contribution
  </select>

    <select id="selectById" resultType="com.bjfu.news.entity.NewsApproveContribution">
       select * from news_approve_contribution where  DISABLED=false  and ID=#{id}
   </select>

    <select id="selectByCId" resultType="com.bjfu.news.entity.NewsApproveContribution">
        select * from news_approve_contribution  where disabled = false and CONTRIBUTION_ID=#{contributionId}
   </select>

    <select id="selectByApproveId" resultType="com.bjfu.news.entity.NewsApproveContribution">
        select * from news_approve_contribution  where disabled = false and approverId=#{approverId}
   </select>

    <select id="list" parameterType="com.bjfu.news.req.ContributionReq"
            resultType="com.bjfu.news.entity.NewsApproveContribution">
        select * from news_approve_contribution where disabled = false and approverId=#{userId}
        <if test="contributionIds!=null">
            and contributionId in
            <foreach item="contributionId" index="index" collection="contributionIds">
                #{contributionId}
            </foreach>
        </if>
        litmit #{start},#{size}
    </select>

    <select id="getCount" parameterType="com.bjfu.news.req.ContributionReq"
            resultType="Integer">
        select count(*) from news_approve_contribution where disabled = false and approverId=#{userId}
        <if test="contributionIds!=null">
            and contributionId in
            <foreach item="contributionId" index="index" collection="contributionIds">
                #{contributionId}
            </foreach>
        </if>
    </select>

    <update id="delete" parameterType="com.bjfu.news.req.IdsParam">
        update news_approve_contribution set disabled = true where id in
        <foreach item="id" index="index" collection="ids">
            #{id}
        </foreach>
    </update>

    <update id="updateOperate" parameterType="com.bjfu.news.entity.NewsApproveContribution">
        update news_approve_contribution set
        opration=#{opration},
        suggestion=#{suggestion}
        where ID=#{id}
    </update>
</mapper>