<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.news.dao.NewsCategoryMapper">
    <insert id="insert" parameterType="com.bjfu.news.entity.NewsCategory">
        insert news_category set
        CATEGORY_NAME =#{categoryName},
        DISABLED=false
  </insert>

    <update id="update" parameterType="com.bjfu.news.entity.NewsCategory">
        update news_category set
        CATEGORY_NAME=#{categoryName},
        DISABLED=#{disabled}
        where ID=#{id}
    </update>

    <select id="selectAll" resultType="com.bjfu.news.entity.NewsCategory">
       select * from news_category where  DISABLED=false
   </select>

    <select id="selectById" resultType="com.bjfu.news.entity.NewsCategory">
       select * from news_category where  DISABLED=false  and ID=#{id}
   </select>

</mapper>