<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.news.dao.NewsUserInfoMapper">
    <insert id="insertUserInfo" parameterType="com.bjfu.news.entity.NewsUserInfo" keyProperty="id"  useGeneratedKeys="true">
        insert into news_user_info ( ENO, USER_NAME, UNIT, JOB, MAIL, OFFICE_PHONE, MOBILE, DISABLED, CREATE_TIME, UPDATE_TIME)
        values (#{eno,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
                #{unit,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR},
                #{officePhone,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{disabled,jdbcType=BIT},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
</mapper>