<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>绿色新闻网数据挖掘平台</title>
    <link rel="icon" href="favicon.ico" type="image/ico">


    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <!--标签插件-->
    <link rel="stylesheet" href="js/jquery-tags-input/jquery.tagsinput.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside th:replace="/lefter.html :: lefterBar"></aside>


        <!--页面头部-->
        <header th:replace="/header.html :: headerBar"></header>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>内容统计——词云统计</h4></div>
                            <div class="card-body">
                                <div id="myTabContent" class="tab-content">
                                    <div class="example-box">
                                        <label class="lyear-radio">
                                            <input type="radio" name="r1" value="year"><span>按年统计：</span>
                                            最近<select class="form-control1" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                            年
                                        </label>
                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="month">
                                            <span>按月统计：</span>
                                            最近<select class="form-control1" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            个月
                                        </label>

                                        <label class="lyear-radio m-t-10">
                                            <input type="radio" name="r1" value="week">
                                            <span>按周统计：</span>
                                            最近<select class="form-control1" name="example-select" size="1">
                                            <option value="0">请选择</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                            周
                                        </label>
                                    </div>


                                    <div class="scoure-select m-t-10">
                                        来源：<select class="form-control1" id="source-select" size="1">
                                        <option value="0">--请选择--</option>
                                        <option value="信息学院">信息学院</option>
                                        <option value="宣传部">宣传部</option>
                                        <option value="教育处">教育处</option>
                                    </select>

                                    </div>

                                    <div class="category-select m-t-10">
                                        类别：<select class="form-control1" id="category-select" size="1">
                                        <option value="0">--请选择--</option>
                                        <option value="绿色要闻">绿色要闻</option>
                                        <option value="教学科研">教学科研</option>
                                        <option value="校园动态">校园动态</option>
                                        <option value="党建思政">党建思政</option>
                                    </select>
                                    </div>

                                    <div style="text-align:center">
                                        <button class="btn btn-primary btn-w-s creatButton creatCloud" type="button">生成词云</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="imgDiv" style="display: none">
                        <div class="card">
                            <div class="card-header"><h4 id="chartHeader">统计结果</h4></div>
                            <div class="card-body " id="chartCard" >
                                <div class="masonry-grid gap-2" data-provide="photoswipe" id="wordCloudImg">
                                    <img  width="500" height="500">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/Chart.js"></script>

<script type="text/javascript">

    $('.creatButton').on('click',function(){
        var ymd = "";
        var num = "";
        var source = "";
        var category= "";

        if($('#myTabContent input[name="r1"]:checked').val() === 'year'){
            ymd ='year'
        }
        else if($('#myTabContent input[name="r1"]:checked').val() === 'month'){
            ymd ='month'
        }
        else if($('#myTabContent input[name="r1"]:checked').val() === 'week'){
            ymd ='week'
        }
        else {
            alert("请选择统计条件！");
            return;
        }
        num = $('#myTabContent input[name="r1"]:checked').siblings('.form-control1').val();
        if (num === '0'){
            alert("请选择统计条件！");
            return;
        }

        //get source
        source = $('#source-select').val();
        //get category
        // category = $('#category-select').val();

        //judge
        // if (source === '0'){
        //     alert("来源不能为空！");
        //     return;
        // }
        if($(this).hasClass('creatCloud')){
            // document.getElementById("imgDiv").style.display="block";
            cloudGenerate(ymd,num,source,category);
        }


    });

    $('#myTabContent input[name="r1"]').change(function(){
        $('#myTabContent select[name="example-select"]').each(function(i,k) {
            $(k).val(0);
        });
    });

    function cloudGenerate(ymd,num,source,category){
        $.ajax({
            url:"/wordCloudGenerate",
            method:"post",
            data:{ymd:ymd,num:num,source:source,category:category},
            dataType:"json",
            success:function(map){
                // debugger
                // setTimeout(function(){
                //     $('#wordCloudImg > img').attr("src",map.imgSrc);
                //
                // },30000);
            },
            error:function(data){
                debugger
                alert("wrong");
            }
        });
    }





</script>
</body>
</html>